<%= form_with model: [ post, Comment.new] do |form| %>
    <h5>Make a comment:</h5>
    <p><%= form.text_area(:content, :class => 'form-control') %></p>
    <%= form.submit(:class => 'btn btn-primary') %>
<% end %>
